<nav class="navbar navbar-dark bg-dark px-3 mb-4">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/">Home</a>
    </li>
  </ul>
  <div class="navbar-nav">
    <div class="d-flex">
      <a class="nav-link mx-2" routerLink="/login" *ngIf="!loggedIn">Login</a>
      <a class="nav-link mx-2" routerLink="/" *ngIf="loggedIn" (click)="logout()">Logout</a>
      <a class="nav-link mx-2" routerLink="/register" *ngIf="!loggedIn" (click)="registration()">Registration</a>
      <button class="nav-link mx-2"  *ngIf="loggedIn" (click)="password_forgot()">Password Foreget</button>

      <button (click)="click()">Show</button>
      <button (click)="refresh_token()">Refresh</button>
      <button (click)="secure()">Secure</button>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
